:root {
  --gradient: linear-gradient(
    96.2deg,
    rgb(255, 230, 112) 10.4%,
    rgb(255, 100, 100) 43.8%,
    rgb(0, 93, 219) 105.8%
  );
  --default-font: "Roboto Mono", monospace;
  --heading-font: "Satisfy", cursive;
}

body {
  font-family: var(--default-font);
  background: var(--gradient);
}

h1 {
  background: var(--gradient);
  font-family: var(--heading-font);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 80px;
}

h3 {
  color: white;
}

.about-paragraph {
  margin-top: 80px;
  padding: 30px;
}

.about-paragraph h2 {
  font-family: var(--heading-font);
  font-size: 50px;
  margin-bottom: 20px;
}

.hero p {
  color: white;
}

.hero {
  background: black;
  padding: 50px;
}

.introduction {
  margin-top: 100px;
}

.header {
  background: black;
  padding-top: 140px;
  padding-bottom: 40px;
}

.heading {
  font-family: var(--heading-font);
  font-size: 50px;
}

.btn-learn-more {
  padding: 10px 20px;
  border: 1px solid black;
}

.btn-contact {
  padding: 10px 20px;
  background: white;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background: gray;
  color: white;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  .hero {
    padding: 0;
  }

  .introduction {
    margin-top: 10px;
  }
}

@media (max-width: 1350px) {
  .about-paragraph {
    margin-top: 10px;
  }
}
